/*
===========
Variables
===========
*/

:root {
  /* dark primary shades */
  --clr-primary-1: hsl(205, 67%, 16%);
  --clr-primary-2: hsl(205, 61%, 21%);
  --clr-primary-3: hsl(205, 100%, 21%);
  /* light primary shades*/
  --clr-primary-4: #2680c0;
  --clr-primary-5: #49a6e4;
  --clr-primary-6: hsl(205, 67%, 49%);
  --clr-primary-7: hsl(205, 69%, 65%);
  --clr-primary-8: hsl(205, 75%, 74%);
  --clr-primary-9: hsl(205, 65%, 78%);
  --clr-primary-10: hsl(205, 60%, 85%);
  /* dark secondry shades*/
  --clr-secondary-1: hsl(181, 100%, 19%);
  --clr-secondary-2: hsl(181, 85%, 21%);
  --clr-secondary-3: hsl(183, 71%, 23%);
  --clr-secondary-4: hsl(185, 95%, 25%);
  /* light secondary shades */
  --clr-secondary-5: #28cab2;
  --clr-secondary-6: hsl(182, 85%, 65%);
  --clr-secondary-6: hsl(181, 81%, 69%);
  --clr-secondary-6: hsl(185, 71%, 69%);
  --clr-secondary-6: hsl(183, 80%,75%);
  --clr-secondary-6: hsl(181, 68%, 70%);
  /* dark grey shades */
  --clr-grey-1: hsl(210, 67%, 17%);
  --clr-grey-2: hsl(209, 39%, 33%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(210, 28%, 39%);
  /* light grey shades */
  --clr-grey-5: hsl(210, 22% , 49%);
  --clr-grey-6: #617d98;
  --clr-grey-7: hsl(210, 32% , 69%);
  --clr-grey-8: hsl(209, 27% , 74%);
  --clr-grey-9: hsl(212, 36% , 86%);
  --clr-grey-10: hsl(210, 33% , 96%);
  --clr-green-1: #1aa137;
  --clr-green-2: #06281e;
  --clr-green-3: #0d503c;
  --clr-green-4: #13795b;
  --clr-primaryColor: #476a2e;
  --clr-primary--light-color: #d4e6a5;
  --clr-primaryDarkcolor: #c02c03;
  --clr-mainRed: #bd0303;
  --mainOverlay: rgba(35,10,36,.4);
  --clr-white: #fff;
  --clr-black: #222;
  --clr-lime: #fd5d65;
  --clr-dodger: #4eacdc;
  --clr-gold: #c59d5c;
  --clr-pink: #f28cab;
  --transition: all .3s linear;
  --spcaing: .3rem;
  --radius: .5rem;
  --ff-family: "Roboto Sans", sans-serif;
  --ff-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --ff-secondary: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  --small-screen-width: 90vw;
  --large-screen-width: 1170px;
  --fixed-width: 40rem;
  --shadow-1: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 1px 0 rgba(0, 0, 0, 0.6);
  --shadow-2: 0 6px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 2px -1px rgba(0, 0, 0, 0.6);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 6px 4px -1px rgba(0, 0, 0,0.5);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.4);
}

/*
==============
GLOBAL STYLES
==============
*/
 
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
body {
  font-size: .875rem;
  line-height: 1.5;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
  background-image: linear-gradient(to right top , #6d327c, #485DA6, #00a1ba, #36C486);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: var(--ff-secondary);
}
h1,
h2,
h3,
h4 {
  font-family: var(--ff-family);
  text-transform: capitalize;
  margin-bottom: .75rem;
  line-height: 1.25;
}
h1 {
  margin-top: 0;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: .875rem;
}
p {
  color: var(--clr-grey-5);
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: .5;
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes humburger_puls {
  0%{
    transform: scale(1);
  }
  50% {
    opacity: .2;
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/*
==============
GLOBAL CLasses
==============
*/

.section {
  padding: 5rem 0;
}
.section-center {
  width: var(--small-screen-width);
  margin: 0 auto;
  max-width: var(--large-screen-width);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: var(--clr-primaryColor);
  border: 2px solid var(--clr-primaryColor);
  padding: .45rem .8rem;
  display: inline-block;
  transition: var(--transition);
  cursor: pointer;
  font-size: .8rem;
  background: transparent;
  border-radius: var(--radius);
  display: inline-block;
}
.btn:hover{
  color: var(--clr-white);
  background: var(--clr-primaryColor);
}
.btn-white {
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
}
.btn-white:hover {
  background: var(--clr-white);
  color: var(--clr-primaryColor);
}
.btn-primary {
  background: var(--clr-primaryColor);
  color: var(--clr-white);
  border-color: transparent;
}
.btn-primary:hover {
  background: var(--clr-primary--light-color);
  color: var(--clr-primaryColor);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--shadow-1);
  text-align: center;
}
.btn-details {
  padding: .25rem .4rem;
}
.btn-details:hover {
  background: var(--clr-primary--light-color);
  color: var(--clr-primary--light-color);
}
.btn-top {
  margin-top: 5rem;
}
/*
============
Cocktails
============
*/
nav {
  padding: 1.5rem 2rem;
  background: var(--clr-white);
  box-shadow: var(--shadow-4);
}
.nav-center {
  width: 90vw;
  max-width: var(----fixed-width);
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  margin: 0 .5rem;
  font-size: 1.1rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  display: inline-block;
  font-weight: 400;
  padding: .25rem .5rem;
}
.nav-links a:hover {
  color: var(--clr-primaryColor);
}
.logo {
  width: 12rem;
}
/* end of navbar */

/* loading */
.lds-facebook,
.lds-facebook::after,
.lds-facebook::before {
  height: 4em;
  width: 1em;
  -webkit-animation: lds-facebook 1s infinite ease-in-out;
  animation: lds-facebook 1s infinite ease-in-out;
  background: transparent;
}
.lds-facebook {
  color: var(--clr-primaryColor);
  font-size: 3rem;
  position: relative;
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: .16s;
  animation-delay: -.16s;
}
.lds-facebook::after,
.lds-facebook::before {
  position: absolute;
  top: 0;
  content: '';
}
.lds-facebook::after {
  left: 1.5em;
}
.lds-facebook::before {
  left: -1.5em;
  animation-delay: -.32s;
  -webkit-animation-delay: -.32s;
}

@-webkit-keyframes lds-facebook {
  0%,
  80%,
  100% {
    height: 4em;
    box-shadow: 0 0;
  }
  40% {
    height: 5em;
    box-shadow: 0 -2em
  } 
}
@keyframes lds-facebook {
  0%,
  80%,
  100% {
    height: 4em;
    box-shadow: 0 0;
  }
  40% {
    height: 5em;
    box-shadow: 0 -2em
  } 
}

/*end of loading */  

/* about n error */
.about-section {
  width: 85vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  letter-spacing: 2px;
  text-align: center;
  color: var(--clr-white);
}
.error-page {
  display: block;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform:capitalize;
}
/*end of about n eror  */
/* cocktails */
.section-title {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  text-transform: capitalize;
  color: var(--clr-white);
}
.cocktails-center {
  width: 85vw;
  margin: 0 auto;
  align-items: start;
  max-width: var(--large-screen-width);
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}
@media screen and (min-width: 567px) {
  .cocktails-center {
    grid-template-columns: repeat(auto-fill,minmax(233.8px, 1fr));
  }
}
.cocktails {
  display: grid;
  background: var(--clr-white);
  box-shadow: var(--shadow-1);
  border-radius: var(--radius);
  padding: .5rem;
  margin-bottom: 2rem;
  grid-template-rows: auto 1fr;
}
.cocktails:hover{
  box-shadow: var(--shadow-4);
}
.cocktails img {
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}
.cocktails-footer {
  padding: 1.5rem 0;
}
.cocktails-footer h3,
.cocktails-footer h4, 
.cocktails-footer p {
  margin-top: .3rem;
}
.cocktails-footer h3 {
  font-size: 2rem;
}
.cocktails-footer p {
  margin-bottom: .5rems;
}
/* end of cocktail */

/* form */
.search {
  padding-bottom: 0;
  margin-top: 1.5rem;
}
.search-form {
  padding:  2rem 2.5rem;
  background: var(--clr-white);
  display: grid;
  width: 85vw;
  margin: 0 auto;
  text-align: center;
  max-width: var(--fixed-width);
  border-radius: var(--radius);
  text-transform: capitalize;
}
.form-control label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: .5rem;
  color: var(--clr-primaryColor);
  text-transform: uppercase;
}
.form-control input {
  width: 100%;
  border-radius: var(--radius);
  padding: .5rem;
  border: none;
  border-color: transparent;
  background: var(--clr-grey-10);
  font-size: 1rem;
}
/* end of form */
.cocktail-section {
  text-align: center;
}
.drink {
  width: 85vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
  text-align: left;
}
.drink img {
  border-radius: var(--radius);
}
.drink-data {
  background: var(--clr-primaryColor);
  color: var(--clr-primary-light-color);
  transition: var(--transition);
  padding: .25rem .5rem;
}
.drink p {
  text-transform: capitalize;
  font-weight: bold;
  line-height: 1.8;
  color: var(--clr-white);
}
.drink-data  {
  margin-right: .5rem;
}
.drink-info {
  padding-top: 2rem
}
@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 2rem;
    margin: 0 auto;
  }
  .drink-info {
    padding-top: 0;
  }
}